
.logo{
  width: 70px;
  margin-top: -5px !important;
  margin-left: 20px;
}

#search-bar{
  width: 400px;
  margin-left: 50px;
}

#search-btn{
  width: 60px;
  background-color: #5491CA;
  border: 0px;
  border-radius: 0px 4px 4px 0px;

  i{
    margin-left: 10px;
    color: #fff;
  }
}

.nav-link{
  margin-right: 40px !important;
  transition: 0.3s;
  border-bottom: 3px solid transparent;


  &:hover{
    color: rgba(81, 153, 236, 0.842) !important;
  }

}

.nav-link.active{
    color: #5491CA !important;
    font-weight: 500 !important;
    border-bottom: 3px solid #5491CA;
}